{%- if section.blocks.size > 0 -%}
  {{ 'section-beetroot-testimonials.css' | asset_url | stylesheet_tag }}

  {% render 'section-paddings',
    padding_top: section.settings.padding_top,
    padding_bottom: section.settings.padding_bottom,
    padding_top_mobile: section.settings.padding_top_mobile,
    padding_bottom_mobile: section.settings.padding_bottom_mobile
  %}

  <div class="section-{{  section.id  }}--padding page-width">
    <div class="beetroot-testimonials">
      {%- for block in section.blocks -%}
        <div class="beetroot-testimonials__beetroot-testimonial">
          <div class="beetroot-testimonial__stars">
            {%- render 'icon-stars' -%}
          </div>
          {%- if block.settings.title != blank or block.settings.text != blank -%}
            <div class="beetroot-testimonial__body">
              {%- unless block.settings.title == blank -%}
                <p class="beetroot-testimonial__title">{{ block.settings.title }}</p>
              {%- endunless -%}
              {%- unless block.settings.text == blank -%}
                <div class="beetroot-testimonial__text">
                  {{ block.settings.text }}
                </div>
              {%- endunless -%}
            </div>
          {%- endif -%}
          {%- if block.settings.author != blank or block.settings.is_verified -%}
            <div class="beetroot-testimonial__footer">
              {%- unless block.settings.author == blank -%}
                <p class="beetroot-testimonial__author">{{ block.settings.author }}</p>
              {%- endunless -%}
              {%- if block.settings.is_verified -%}
                <span class="beetroot-testimonial__verified-buyer">
                  {{ 'sections.testimonials.verified_buyer' | t -}}
                  {%- render 'icon-reviews-checkmark' %}
                </span>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Beetroot/Testimonials",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top(desktop)",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom(desktop)",
      "default": 90
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top(mobile)",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom(mobile)",
      "default": 40
    }
  ],
  "blocks": [
    {
      "name": "Testimonial",
      "type": "testimonial",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Suprised and impressed!"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet consectetur. At mauris sit nibh sit adipiscing lectus. Egestas felis ipsum nibh lorem rhoncus sem eget egestas pretium. Massa elit feugiat eu eget amet egestas quis. Pulvinar volutpat fermentum mattis in.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Adam J."
        },
        {
          "type": "checkbox",
          "id": "is_verified",
          "label": "Is buyer verified",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Beetroot/Testimonials"
    }
  ]
}
{% endschema %}
