{{ 'section-comparison-cost.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} {
    --comparison-cost-background-image: url("{{ section.settings.background_image_desktop | image_url }}");
    --comparison-cost-max-width: {{ section.settings.max_width }}px;
    --comparison-cost-tagline-color: {{ section.settings.tagline_color }};

    @media screen and (max-width: 768px) {
      --comparison-cost-background-image: url("{{ section.settings.background_image_mobile | image_url }}");
    }
  }

  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'comparison-block' -%}
        .comparison-cost__content--{{ block.id }} {
          --comparison-cost-block-heading-color: {{ block.settings.comparison_heading_color }};
          --comparison-cost-block-tag-background: {{ block.settings.comparison_tag_background }};
          --comparison-cost-block-tag-color: {{ block.settings.comparison_tag_color }};
          {{ block.settings.comparison_position_mobile }}: 0;
        }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{% endstyle %}

<div class="comparison-cost__container">
  {%- unless section.settings.heading == blank -%}
    <h2 class="comparison-cost__heading">{{ section.settings.heading }}</h2>
  {%- endunless -%}

  {%- if section.blocks.size > 0 -%}
    <div class="comparison-cost__flex {% if section.settings.constrain_width %}comparison-cost--max-width{% endif %}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'comparison-block' -%}
            <div class="comparison-cost__content comparison-cost__content--{{ block.id }}">
              {%- unless block.settings.comparison_heading == blank -%}
                <div class="content__heading-wrapper">{{ block.settings.comparison_heading }}</div>
              {%- endunless -%}

              {%- unless block.settings.comparison_tag == blank -%}
                <p class="content_tag">{{ block.settings.comparison_tag }}</p>
              {%- endunless -%}
            </div>

          {%- when 'image' -%}
            {%- unless block.settings.image_desktop == blank -%}
              <div class="comparison-cost__media-wrapper comparison-cost__media--{{ block.id }}">
                <picture>
                  {%- unless block.settings.image_mobile == blank -%}
                    <source srcset="{{ block.settings.image_mobile | image_url }}" media="(max-width: 768px)">
                  {%- endunless -%}

                  {{ block.settings.image_desktop 
                    | image_url: width: block.settings.image_desktop.width 
                    | image_tag: class: 'comparison-cost__media', loading: 'lazy' }}
                </picture>
              </div>
            {%- endunless -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

  {%- unless section.settings.tagline_text == blank -%}
    <p class="comparison-cost__tagline">{{ section.settings.tagline_text }}</p>
  {%- endunless -%}
</div>

{% schema %}
{
  "name": "Comparison cost",
  "class": "comparison-cost",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Background image"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background image desktop"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image mobile"
    },
    {
      "type": "header",
      "content": "Tagline"
    },
    {
      "type": "text",
      "id": "tagline_text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "tagline_color",
      "label": "Tagline text color"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "constrain_width",
      "label": "Constrain width",
      "default": true
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "Max width",
      "min": 600,
      "max": 800,
      "step": 20,
      "default": 620,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "comparison-block",
      "name": "Comparison tag",
      "settings": [
        {
          "type": "richtext",
          "id": "comparison_heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "comparison_heading_color",
          "label": "Heading color"
        },
        {
          "type": "text",
          "id": "comparison_tag",
          "label": "Tag"
        },
        {
          "type": "color",
          "id": "comparison_tag_color",
          "label": "Tag text color"
        },
        {
          "type": "color",
          "id": "comparison_tag_background",
          "label": "Tag background color"
        },
        {
          "type": "select",
          "id": "comparison_position_mobile",
          "label": "Position mobile",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image mobile (optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Comparison cost"
    }
  ]
}
{% endschema %}