{{ 'section-social-reviews.css' | asset_url | stylesheet_tag }}

<div class="social-reviews color-{{ section.settings.color_scheme }}">
  <div class="social-reviews__wrapper page-width page-width--extra">
    {%- if section.settings.subtitle != blank or section.settings.title != blank -%}
      <div class="social-reviews__header">
        {%- unless section.settings.subtitle == blank -%}
          <p class="social-reviews__subtitle">{{ section.settings.subtitle }}</p>
        {%- endunless -%}
        {%- unless section.settings.title == blank -%}
          <{{ section.settings.title_tag }} class="social-reviews__title">
            {{ section.settings.title }}
          </{{ section.settings.title_tag }}>
        {%- endunless -%}
      </div>
    {%- endif -%}
    {%- assign facebook_reviews = section.blocks | where: 'type', 'facebook_review' -%}
    {%- assign instagram_reviews = section.blocks | where: 'type', 'instagram_review' -%}
    {%- if facebook_reviews.size > 0 -%}
      <div class="social-reviews__facebook-reviews">
        <div class="facebook-reviews__logo">{%- render 'facebook-logo' -%}</div>
        <div class="facebook-reviews__grid">
          {%- for block in facebook_reviews -%}
            {%- unless block.settings.image == blank -%}
              <div class="facebook-reviews__review">
                {{ block.settings.image | image_url: width: 700 | image_tag: loading: 'lazy' }}
              </div>
            {%- endunless -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
    {%- if instagram_reviews.size > 0 -%}
      <div class="social-reviews__instagram-reviews">
        <div class="instagram-reviews__logo">{%- render 'instagram-logo' -%}</div>
        <div class="instagram-reviews__grid">
          {%- for block in instagram_reviews -%}
            {%- unless block.settings.image == blank -%}
              <div class="instagram-reviews__review">
                {{ block.settings.image | image_url: width: 700 | image_tag: loading: 'lazy' }}
              </div>
            {%- endunless -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Social reviews",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "See Why Our Customers Love Us"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Read more Customers Stories"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "Paragraph"
        }
      ],
      "default": "h2"
    },
    {
      "type": "header",
      "content": "Section paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Facebook review",
      "type": "facebook_review",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Instagram review",
      "type": "instagram_review",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social reviews"
    }
  ]
}
{% endschema %}
